* {
	margin-right: 40px;
	margin-left: 40px;
}

/*CHANGE COLORS TO LISTED COLORS ON HW*/
/*ALSO CHANGE THE FONTS*/
/*THEY WILL BE FACTORED INTO THE GRADES*/

header {
	background: #4aaaa5;
	color: #fdfeff;
	width: 15%;
	margin-bottom: 40px;
	padding: 45px;
	float: left;
	font-family: "Times New Roman", Georgia, Serif;
	text-align: center;
}

body {
	background-color: #eaeaea;
}

wrapper {

}


.About_Me {
	clear: both;
	overflow: auto;
	color: #4aaaa5;
	background: white;
	padding: 45px;
}

.Monkey {
	width: 300px;
	height: 300px;
	float: left;
}

p {
	float: left;
}

.Connect {
	float: left;
}


